*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.container {
  height: 100vh;
  width: 70vw;
  padding: 10px;
}

.cont {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  align-items: center;
  background-color: #dadada;
  color: #000;
  height: 50px;
  border-radius: 10px;
  width: 100%;
}

.nav-btns {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

button {
  background-color: rgb(39, 29, 129);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #3b2aa7;
  box-shadow: 0 0 5px rgba(39, 29, 129, 0.4);
}

.login-modal {
  position: absolute;
  top: 35%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  background-color: #dadada;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.login-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.modal-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.close {
  align-self: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 5px;
  padding: 4px 5px;
  border-radius: 10px;
  border: 1px solid #000;
}

.marg-20 {
  margin: 20px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.landing-page {
  width: 50vw;
}

.row {
  margin: 20px 0;
}

.cont-1 {
  width: 100%;
}

.cont-2 {
  width: 50%;
}

.cont-4 {
  width: 25%;
}

.cont-5 {
  width: 20%;
}

.cont-10 {
  width: 10%;
}

.center {
  justify-content: center;
  align-items: center;
}

.all-margin > * {
  margin: 5px;
}
